@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Hanken Grotesk", "Comic Sans MS";
}
:root {
  font-size: 18px;
  /* Colors */
  /* ### Primary */
  --LightRed: hsl(0, 100%, 67%);
  --LightRed2: hsla(0, 100%, 67%, 0.1);
  --OrangeyYellow: hsl(39, 100%, 56%);
  --OrangeyYellow2: hsla(39, 100%, 56%, 0.1);
  --GreenTeal: hsl(166, 100%, 37%);
  --GreenTeal2: hsla(166, 100%, 37%, 0.1);
  --CobaltBlue: hsl(234, 85%, 45%);
  --CobaltBlue2: hsla(234, 85%, 45%, 0.1);
  /* ## Gradients */
  --LightSlateBlue: hsla(252, 100%, 67%, 1);
  --LightRoyalBlue: hsla(241, 81%, 54%, 1);
  --VioletBlue: hsla(256, 72%, 46%, 1);
  --PersianBlue: hsla(241, 72%, 46%, 0);
  --PersianBlue2: hsla(241, 72%, 46%, 1);
  /* ### Neutral */
  --White: hsl(0, 0%, 100%);
  --PaleBlue: hsl(221, 100%, 96%);
  --LightLavender: hsla(241, 100%, 89%, 1);
  --LightLavender2: hsla(241, 100%, 89%, 0.5);
  --DarkGrayBlue: hsl(224, 30%, 27%);
  --DarkGrayBlue2: hsla(224, 30%, 27%, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
.Blue {
  background-image: linear-gradient(var(--LightSlateBlue), var(--LightRoyalBlue));
  height: 23em;
  border-radius: 0 0 10% 10%;
}

.White {
  background-color: var(--White);
}

.outOf {
  color: var(--LightLavender2);
  font-size: 1rem;
  display: block;
}
h1 {
  color: var(--LightLavender);
  font-size: 1rem;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 600;
}
h2,
h3 {
  color: var(--White);
}

h2 {
  font-size: 3rem;
}

h3 {
  margin-top: 1.5em;
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  margin-top: 0.8em;
  text-align: start;
  margin-left: 2em;
  margin-bottom: 0.6em;
}
.overallSummary {
  display: flex;
  flex-direction: column;
}
.overallScore {
  background-image: linear-gradient(var(--VioletBlue), var(--PersianBlue));
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  padding: 1.5em;
  width: 8em;
  height: 8em;
}

.resultWording {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultWording p {
  color: var(--LightLavender);
  margin-top: 1em;
  width: 20em;
  font-weight: 400;
}

.Summary {
  display: flex;
  flex-direction: column;
  text-align: start;
}
table {
  margin-left: 1.3em;
  margin-right: 1.3em;
  font-weight: 700;
  border-spacing: 0em 1em;
}

td {
  padding: 1em;
}

th {
  text-align: start;
  padding-left: 1.5em;
}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

img {
  margin-right: 1em;
  position: relative;
  top: 0.2em;
}

.Reaction {
  background-color: var(--LightRed2);
  color: var(--LightRed);
}

.Memory {
  background-color: var(--OrangeyYellow2);
  color: var(--OrangeyYellow);
}

.Verbal {
  background-color: var(--GreenTeal2);
  color: var(--GreenTeal);
}

.Visual {
  background-color: var(--CobaltBlue2);
  color: var(--CobaltBlue);
}

.Result {
  color: var(--DarkGrayBlue);
  padding-left: 7.5em;
}

.Result2 {
  color: var(--DarkGrayBlue2);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--DarkGrayBlue);
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  border-radius: 50px;
  padding: 1em;
  width: 90%;
}
/* --LightRed: hsl(0, 100%, 67%);
  --OrangeyYellow: hsl(39, 100%, 56%);
  --GreenTeal: hsl(166, 100%, 37%);
  --CobaltBlue: hsl(234, 85%, 45%); */
/* 
Footer Items 
*/
#Footer P {
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin: 5px;
}

Footer {
  bottom: 0;
  position: absolute;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  background-color: black;
}

Footer a {
  color: #00ff00;
  text-decoration: none;
}

Footer a:hover {
  color: #ff9c6c;
}

#Footer {
  margin: 0;
}
